<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="/stylesheets/stylesCart.css" rel="stylesheet">

<header class="index_header">
    <div class="containerheader">
        <div class="index_logo">
            <img src="/img/LOGO7.png" alt="logo3" style="padding: 30px;">
        </div>
    </div>
    </div>
    <div class="index_menu_header">
        <div class="index_header_vinculos">
            <div class="index_header_vinculos_caja1">

                <!-- Sedeja solamente la opcion de ir al Home     ***  -->
                <a class="resaltado" href="/">Home</a>
                <a class="resaltado" href="/opciones">Actividades</a>
            </div>
            <div class="index_header_iconos">
                <em class="fa-solid fa-address-card"></em>
                <em class="fa-solid fa-right-to-bracket"></em>
            </div>
            <div class="burger-menu">
                <em class="fas fa-bars"></em>
            </div>
        </div>
</header>